*{
    margin: 0px;
    padding: 0px;
    font-family: arial,sans-serif;
}
.nav{
    height: 8vh;
    margin: 1.35em 2em 0 1em;
}
.nav > .nav-links{
    float: right;
    display: flex;
    width: 9.6vw;
    justify-content: space-between;
    font-size: .83em;
}
.nav-links > a{
    color: #212121;
    text-decoration: none;
}
.nav-links > a:hover{
    color: #434343;
    text-decoration: underline;
}
.logo{
    width: 21.2vw;
    height: 15vh;
    background: url(images/google_logo.png) no-repeat;
    background-size: 21.2vw;
    margin-top: 5.4em;
}
.bottom-right{
    position: relative;
    color: #4285f4;
    float: right;
    top: 4.63em;
    right: .35em;
}
.search-bar{
    display: flex;
    border-radius:24px;
    height: 2.75em;
    width: 36.4em;
    border:1px solid #e3e4e6;
    margin-top: 1.45em;
}
.search-bar:hover{
    border-color: white;
    box-shadow: 0px 1px .3em 0.15em #e3e4e6;
}
.search-logo{
    margin: auto 1em auto 1em;
    height: 1.07em;
    width: 1em;
}
.search-box{
    width: 36em;
    height: 3.25em;
    border: hidden;
}
.search-box:focus{
    outline: none;
}
.search-buttons{
    margin-top: 1.1em;
}
.search-buttons input{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    padding: .6em 1em .6em 1em;
    margin: auto .2em auto .2em;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
}
.search-buttons input:hover{
    border-color: #c6c6c6;
    cursor: pointer;
    color: #222222;
}
.search-buttons > input:focus{
    outline: none;
    border-color: #4d90fe;
}
#feelingbtn:focus{
    outline: none;
    border-color: #4d90fe;
}
.image-search-submit{
    background: url("images/search_icon_1.png") no-repeat;
    background-size: 1.6em;
    background-position: center;
    cursor: pointer;
    width: auto;
    border: none;
    color: transparent;
    margin-left: .4em;
}
.image-search-submit:focus{
    outline: none;
}


/********************************/
/*For Advanced.html*/
/********************************/

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    height: 10.4vh;
}
.leftnav{
    margin-left: 1em;
}
.leftnav img{
    height: 1.935em;
    width: 5.685em;
    margin: 1.04em auto 1em auto;
}
.rightnav{
    margin-right: 1em;
    padding: 1.65em 0 1.435em 0;
    font-size: .84em;
}
.rightnav a{
    color: #212121;
    text-decoration: none;
    margin: auto 1.4em auto 1em;
}
.rightnav a:hover{
    color: #434343;
    text-decoration: underline;
}
.bottomnav{
    /*height: 12.58vh;*/
    border-bottom: 1px solid #ebebeb;
    font-size: 20px;
    padding: 25px 45px;
}
.adv-container{
    margin: 40px 2% 0 45px;
}
.main-form{
    padding-top: 7px;
}
.row{
    display: flex;
    height: 42px;
}
.row > .fields{
    display: inline-block;
    width: 16%;
    height: 42px;
    color: #222;
    line-height: 16px;
    vertical-align: middle;
}
.fields label{
    font-size: 13px;
}
#space{
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 47.5%;
}
.row > .inputbox{
    display: inline-block;
    min-width: 167px;
    min-height: 42px;
    vertical-align: middle;
    width: 47.5%;
}
.inputbox > input{
    float: right;
    width: 98%;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 60%;
}
.inputbox > input:focus{
    outline: none;
    border: 1px solid #4d90fe;
    box-shadow: inset .7px 1.3px 2px 0px #c3c3c3;
}
.righthint{
    display: inline-block;
    width: 29%;
    min-width: 160px;
    margin: 0 0 8px 10px;
    padding-left: 5px;
    color: #555;
    font-size: 11px;
    vertical-align: middle;
}
#heads2{
    color: #777; 
    font-size: 13px;
    font-weight: 700;
    margin-left: 1px;
}
.righthint > div{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
.righthint span{
    color: #666;
    font-family: monospace;
    font-size: 11px;
}
#submitbutton{
    float: right;
}
#submitbutton > input[type=submit]{
    background-color: #4c8efb;
    border: 1px solid #3079ed;
    border-radius: 2px;
    color: white;
    font-family: arial,sans-serif;
    min-width: 120px;
    font-size: 11px;
    font-weight: bold;
    margin: 11px 4px 0 auto;
    padding: 0 12px;
    line-height: 27px;
    height: 30px;
}
#submitbutton > input[type=submit]:hover{
    background-color: #478af8;
    border: 1px solid #2f5bb7;
}
.gap{
    border-top: 1.5px solid #ebebeb;
    margin: 30px 0;
}
.additional{
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 90px;
}
.additional > #first{
    width: 16%;
    font-size: 16px;
    height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}
.additional a{
    text-decoration: none;
    color: #1122cf;
}
.additional a:hover{
    text-decoration: underline;
    color: #1122cf;
}
.additional a:active{
    text-decoration: underline;
    color: #1122cf;
}
.additional a:visited{
    color: #1122cf;
}
